<!doctype html>
<html>
<head>
    <title>jQuery在线选座位</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="model/jquery.seat-charts/jquery.seat-charts.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="model/jquery/jquery-1.12.4.min.js"></script>
    <script src="model/jquery.seat-charts/jquery.seat-charts.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="container">
        <div id="seat-map">
            <div class="front-indicator">座位选择</div>
            <div>
                <input type="text" style="width:30px;" id="x" value="10"> ×
                <input type="text" style="width:30px;" id="y" value="10">
                <input type="button" value="确定" onclick="registSeat()">
            </div>
            <div id="seat-maps"></div>
        </div>
        <div class="booking-details">
            <ul id="selected-seats">
            </ul>
            <p><button class="checkout-button" id="save">保存</button></p>
            <div id="legend"></div>
        </div>
    </div>
</div>

<script>
    var firstSeatLabel = 1;
    $(document).ready(function() {
        registSeat();
        $("#save").on("click",function(){
            $.get("save?str="+map).success(function(data){
                console.log(data);
            });
        });
    });
    var map = new Array();
    function registSeat(){
        var x = parseInt($("#x").val());
        var y = parseInt($("#y").val());
        map = [];
        for(var i=0;i<x;i++){
            map[i]="";
            for(var j=0;j<y;j++){
                map[i]+="e";
            }
        }
        $('#seat-maps').empty();
        $("#legend").empty();
        firstSeatLabel = 1;
        var sc = $('#seat-maps').seatCharts({
            map: map,
            naming: {
                top: true, //不显示顶部横坐标（行）
                left:true,
                getLabel: function(character, row, column) { //返回座位信息
                    return firstSeatLabel++;
                }
            },
            legend: {
                node: $('#legend'),
                items: [
                    [ 'e', 'available',   '位置' ],
                    [ 'e', 'none', '过道']
                ]
            },
            click: function() {
                if (this.status() == 'available') { //若为可选座状态，添加座位
                    map[this.settings.row]=map[this.settings.row].substring(0,this.settings.column)+"_"+map[this.settings.row].substring(this.settings.column+1);
                    return 'none';
                }else {
                    map[this.settings.row]=map[this.settings.row].substring(0,this.settings.column)+"e"+map[this.settings.row].substring(this.settings.column+1);
                    return "available";
                }
            }
        });

        sc.get(['1_2', '4_1', '7_1', '7_2']).status('none');
    }
</script>
</body>
</html>