<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>nohithink-index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>first </h2>
<h1 th:text="${name}">Hello world</h1>
<a target="_blank" th:href="@{/swagger-ui.html}">swagger</a>
<a target="_blank" th:href="@{/sba}">spring boot admin</a>
<!-- 引入URL-->
<h2>引入URL </h2>
<a target="_blank" th:href="@{http://blog.csdn.net/u012706811}">绝对路径</a>
<a target="_blank" th:href="@{/hello}">语法</a>
<a target="_blank" th:href="@{model/bootstrap-3.3.0/css/bootstrap.css}">Content路径,默认访问static下的css文件夹</a>&nbsp;&nbsp;

<a target="_blank" th:href="@{/seats}">座位</a>
<a target="_blank" th:href="@{/seats2}">座位2</a>

<!-- 类似的标签有:th:href和th:src-->

<h2>功能点</h2>
<a target="_blank" th:href="@{/druid/index.html}">druid</a>
<a target="_blank" th:href="@{/druid/index.html}">druid</a>


<!-- -->
</body>
</html>